In [2]:
# import the required libraries

import pandas as pd

In [3]:
# reading the dataset

df = pd.read_csv("data.csv")

In [4]:
# Seeing the dimensions of the df dataframe

df.shape

(699, 11)

In [5]:
# top 5 rows

df.head()

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
0,1000025,5,1,1,1,2.0,1,3,1,1,2
1,1002945,5,4,4,5,NaN,10,3,2,1,2
2,1015425,3,1,1,1,2.0,2,3,1,1,2
3,1016277,6,8,8,1,3.0,4,3,7,1,2
4,1017023,4,1,1,3,2.0,1,3,1,1,2

In [6]:
# bottom 5 rows

df.tail()

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
694,776715,3,1,1,1,3.0,2,1,1,1,2
695,841769,2,1,1,1,2.0,1,1,1,1,2
696,888820,5,10,10,3,7.0,3,8,10,2,4
697,897471,4,8,6,4,3.0,4,10,6,1,4
698,897471,4,8,8,5,4.0,5,10,4,1,4

In [7]:
df.tail(10)

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
689,654546,1,1,1,1,2.0,1,1,1,8,2
690,654546,1,1,1,3,2.0,1,1,1,1,2
691,695091,5,10,10,5,4.0,5,4,4,1,4
692,714039,3,1,1,1,2.0,1,1,1,1,2
693,763235,3,1,1,1,2.0,1,2,1,2,2
694,776715,3,1,1,1,3.0,2,1,1,1,2
695,841769,2,1,1,1,2.0,1,1,1,1,2
696,888820,5,10,10,3,7.0,3,8,10,2,4
697,897471,4,8,6,4,3.0,4,10,6,1,4
698,897471,4,8,8,5,4.0,5,10,4,1,4

In [8]:
# Seeing the names of the columns in the dataframe

df.columns

Index(['ID', 'Clump_Thickness', 'Cell_Size_Uniformity',
       'Cell_Shape_Uniformity', 'Marginal_Adhesion',
       'Single_Epithelial_Cell_Size', 'Bare_Nuclei', 'Bland_Chromatin',
       'Normal_Nucleoli', 'Mitoses', 'Cancer_Type'],
      dtype='object')

In [9]:
# Selecting a single column

df['Bare_Nuclei']

0       1
1      10
2       2
3       4
4       1
       ..
694     2
695     1
696     3
697     4
698     5
Name: Bare_Nuclei, Length: 699, dtype: object

In [10]:
# selecting  multiple columns using names

df[{'Bare_Nuclei','Cancer_Type'}]

    Bare_Nuclei  Cancer_Type
0             1            2
1            10            2
2             2            2
3             4            2
4             1            2
..          ...          ...
694           2            2
695           1            2
696           3            4
697           4            4
698           5            4

[699 rows x 2 columns]

In [13]:
df.shape

(699, 11)