In [1]:
import pandas as pd

In [3]:
movies_data=pd.read_csv('tmdb_5000_movies.csv')

In [4]:
movies_data.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [5]:
ser=movies_data['runtime']

In [6]:
ser

0       162.0
1       169.0
2       148.0
3       165.0
4       132.0
5       139.0
6       100.0
7       141.0
8       153.0
9       151.0
10      154.0
11      106.0
12      151.0
13      149.0
14      143.0
15      150.0
16      143.0
17      136.0
18      106.0
19      144.0
20      136.0
21      140.0
22      161.0
23      113.0
24      187.0
25      194.0
26      147.0
27      131.0
28      124.0
29      143.0
        ...
4773     92.0
4774     64.0
4775     85.0
4776     97.0
4777     78.0
4778     85.0
4779     97.0
4780     90.0
4781     90.0
4782    120.0
4783     91.0
4784     85.0
4785     60.0
4786     88.0
4787     78.0
4788     93.0
4789    111.0
4790     90.0
4791     84.0
4792    111.0
4793     90.0
4794     82.0
4795     98.0
4796     77.0
4797     80.0
4798     81.0
4799     85.0
4800    120.0
4801     98.0
4802     90.0
Name: runtime, Length: 4803, dtype: float64

In [8]:
type(ser)

pandas.core.series.Series

In [15]:
f_name=['Satyam','Aman','Rakesh','Himanshu','Ankit','Pradumn']
l_name=['Seth','Sahu','Kannojiya','Jaswal','Gupta','Dixit']

In [16]:
# f_name_series=pd.Series(f_name)
f_name_series=pd.Series(f_name,name='names')

In [17]:
f_name_series

0      Satyam
1        Aman
2      Rakesh
3    Himanshu
4       Ankit
5     Pradumn
Name: names, dtype: object

In [18]:
names_series=pd.Series(f_name,index=l_name,name='names')

In [19]:
names_series

Seth           Satyam
Sahu             Aman
Kannojiya      Rakesh
Jaswal       Himanshu
Gupta           Ankit
Dixit         Pradumn
Name: names, dtype: object

In [21]:
import numpy as np
f_name=np.array(['Satyam','Aman','Rakesh','Himanshu','Ankit','Pradumn'])

In [22]:
names_series=pd.Series(f_name,index=l_name,name='names')

In [23]:
names_series

Seth           Satyam
Sahu             Aman
Kannojiya      Rakesh
Jaswal       Himanshu
Gupta           Ankit
Dixit         Pradumn
Name: names, dtype: object

In [25]:
l_name=('Seth','Sahu','Kannojiya','Jaswal','Gupta','Dixit')

In [26]:
names_series=pd.Series(f_name,index=l_name,name='names')

In [27]:
names_series

Seth           Satyam
Sahu             Aman
Kannojiya      Rakesh
Jaswal       Himanshu
Gupta           Ankit
Dixit         Pradumn
Name: names, dtype: object

In [28]:
dic={
    1:'one',
    2:'two',
    3:'three'
}

In [31]:
ser2=pd.Series(dic,name='numbers')

In [32]:
ser2

1      one
2      two
3    three
Name: numbers, dtype: object

In [33]:
movies_data=pd.read_csv('tmdb_5000_movies.csv',usecols=['runtime'])

In [34]:
movies_data

      runtime
0       162.0
1       169.0
2       148.0
3       165.0
4       132.0
5       139.0
6       100.0
7       141.0
8       153.0
9       151.0
10      154.0
11      106.0
12      151.0
13      149.0
14      143.0
15      150.0
16      143.0
17      136.0
18      106.0
19      144.0
20      136.0
21      140.0
22      161.0
23      113.0
24      187.0
25      194.0
26      147.0
27      131.0
28      124.0
29      143.0
...       ...
4773     92.0
4774     64.0
4775     85.0
4776     97.0
4777     78.0
4778     85.0
4779     97.0
4780     90.0
4781     90.0
4782    120.0
4783     91.0
4784     85.0
4785     60.0
4786     88.0
4787     78.0
4788     93.0
4789    111.0
4790     90.0
4791     84.0
4792    111.0
4793     90.0
4794     82.0
4795     98.0
4796     77.0
4797     80.0
4798     81.0
4799     85.0
4800    120.0
4801     98.0
4802     90.0

[4803 rows x 1 columns]

In [35]:
type(movies_data)

pandas.core.frame.DataFrame

In [37]:
movies_data=pd.read_csv('tmdb_5000_movies.csv',usecol=['runtime'],squeeze=True)

TypeError: parser_f() got an unexpected keyword argument 'usecol'