In [1]:
import pandas as pd

In [3]:
movies_csv=pd.read_csv("tmdb_5000_movies.csv")

In [4]:
movies_csv.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [8]:
movies_data["budget"] #We Use DataFrameVriableName["Col_Name"] To Get Specifice Column Data (Starting And Last 30 Rows Data)

0       237000000
1       300000000
2       245000000
3       250000000
4       260000000
5       258000000
6       260000000
7       280000000
8       250000000
9       250000000
10      270000000
11      200000000
12      200000000
13      255000000
14      225000000
15      225000000
16      220000000
17      380000000
18      225000000
19      250000000
20      215000000
21      200000000
22      250000000
23      180000000
24      207000000
25      200000000
26      250000000
27      209000000
28      150000000
29      200000000
          ...
4773        27000
4774        27000
4775            0
4776            0
4777            0
4778            0
4779            0
4780            0
4781        22000
4782            0
4783            0
4784            0
4785            0
4786            0
4787            0
4788        12000
4789            0
4790            0
4791           13
4792        20000
4793            0
4794            0
4795            0
4796         7000
4797            0
4798       220000
4799         9000
4800            0
4801            0
4802            0
Name: budget, Length: 4803, dtype: int64

In [10]:
movies_csv[["budget",'original_title']] #To Get More Than One Columns Data We Pass The List Of Columns

         budget                               original_title
0     237000000                                       Avatar
1     300000000     Pirates of the Caribbean: At World's End
2     245000000                                      Spectre
3     250000000                        The Dark Knight Rises
4     260000000                                  John Carter
5     258000000                                 Spider-Man 3
6     260000000                                      Tangled
7     280000000                      Avengers: Age of Ultron
8     250000000       Harry Potter and the Half-Blood Prince
9     250000000           Batman v Superman: Dawn of Justice
10    270000000                             Superman Returns
11    200000000                            Quantum of Solace
12    200000000   Pirates of the Caribbean: Dead Man's Chest
13    255000000                              The Lone Ranger
14    225000000                                 Man of Steel
15    225000000     The Chronicles of Narnia: Prince Caspian
16    220000000                                 The Avengers
17    380000000  Pirates of the Caribbean: On Stranger Tides
18    225000000                               Men in Black 3
19    250000000    The Hobbit: The Battle of the Five Armies
20    215000000                       The Amazing Spider-Man
21    200000000                                   Robin Hood
22    250000000          The Hobbit: The Desolation of Smaug
23    180000000                           The Golden Compass
24    207000000                                    King Kong
25    200000000                                      Titanic
26    250000000                   Captain America: Civil War
27    209000000                                   Battleship
28    150000000                               Jurassic World
29    200000000                                      Skyfall
...         ...                                          ...
4773      27000                                       Clerks
4774      27000                               Pink Narcissus
4775          0                                  Funny Ha Ha
4776          0                        In the Company of Men
4777          0                                       Manito
4778          0                                      Rampage
4779          0                                      Slacker
4780          0                                  Dutch Kills
4781      22000                                    Dry Spell
4782          0                                     Flywheel
4783          0                                     Backmask
4784          0                              The Puffy Chair
4785          0                         Stories of Our Lives
4786          0                             Breaking Upwards
4787          0                     All Superheroes Must Die
4788      12000                               Pink Flamingos
4789          0                                        Clean
4790          0                                        دایره
4791         13                                  Tin Can Man
4792      20000                                          キュア
4793          0                               On The Downlow
4794          0                 Sanctuary: Quite a Conundrum
4795          0                                         Bang
4796       7000                                       Primer
4797          0                                       Cavite
4798     220000                                  El Mariachi
4799       9000                                    Newlyweds
4800          0                    Signed, Sealed, Delivered
4801          0                             Shanghai Calling
4802          0                            My Date with Drew

[4803 rows x 2 columns]

In [11]:
type(movies_csv["budget"])

pandas.core.series.Series

In [12]:
type(movies_csv[["budget"]])

pandas.core.frame.DataFrame

In [13]:
movies_csv["budget"]

0       237000000
1       300000000
2       245000000
3       250000000
4       260000000
5       258000000
6       260000000
7       280000000
8       250000000
9       250000000
10      270000000
11      200000000
12      200000000
13      255000000
14      225000000
15      225000000
16      220000000
17      380000000
18      225000000
19      250000000
20      215000000
21      200000000
22      250000000
23      180000000
24      207000000
25      200000000
26      250000000
27      209000000
28      150000000
29      200000000
          ...
4773        27000
4774        27000
4775            0
4776            0
4777            0
4778            0
4779            0
4780            0
4781        22000
4782            0
4783            0
4784            0
4785            0
4786            0
4787            0
4788        12000
4789            0
4790            0
4791           13
4792        20000
4793            0
4794            0
4795            0
4796         7000
4797            0
4798       220000
4799         9000
4800            0
4801            0
4802            0
Name: budget, Length: 4803, dtype: int64

In [14]:
movies_csv[["budget"]]

         budget
0     237000000
1     300000000
2     245000000
3     250000000
4     260000000
5     258000000
6     260000000
7     280000000
8     250000000
9     250000000
10    270000000
11    200000000
12    200000000
13    255000000
14    225000000
15    225000000
16    220000000
17    380000000
18    225000000
19    250000000
20    215000000
21    200000000
22    250000000
23    180000000
24    207000000
25    200000000
26    250000000
27    209000000
28    150000000
29    200000000
...         ...
4773      27000
4774      27000
4775          0
4776          0
4777          0
4778          0
4779          0
4780          0
4781      22000
4782          0
4783          0
4784          0
4785          0
4786          0
4787          0
4788      12000
4789          0
4790          0
4791         13
4792      20000
4793          0
4794          0
4795          0
4796       7000
4797          0
4798     220000
4799       9000
4800          0
4801          0
4802          0

[4803 rows x 1 columns]

In [ ]:
movies_csv[['origanal_title','original_']]